@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 20px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳＰゴシック", "MS PGothic", sans-serif;
	line-height: 2;
	background: #eee url(../image/bg.png);
}

h1,h2,h3,h4,h5,p,ul,li,dl,dd,form,input,textarea {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

a {
	color: #444;
}
a:hover {
	color: blue;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.container {
	max-width: 1200px;
    width: 100%;
    min-width: 100%;
	margin: 0 auto;
    background: url(../image/kami.jpg);
    overflow: hidden;
}

.orange {
    color: #f90;
    font-weight: bold;
}

.blue {
    color: #06f;
    font-weight: bold;
}

.num {
    font-size: 160%;
    color: #06f;
    font-weight: bold;
}

.md-none {
    display: none;
}

/* .content-bg {
        width: auto;
        background-image: url(../image/content-bg.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-attachment: fixed;
        background-size: cover;
} */

/* headerエリアここから */

.header {
    width: 100%;
}

.bg-image {
    width: 100%;
    height: auto;
}

/* headerエリアここまで */

/* mainエリアここから */

.main {
    width: 100%;
}

.section {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.sec-container {
    position: relative;
    display: flex;
}

/* mainエリアここまで */

/* section1エリアここから */

#section1 {
    padding: 50px 0;
}

#section1 .h2 {
    font-size: 200%;
    font-weight: bold;
}

#section1 .desc-box {
    width: 700px;
    margin: 30px auto;
    text-align: left;
}

#section1 .sec-container {
    justify-content: center;
    margin: 20px 0;
}

#section1 .sec-item {
    width: 320px;
    margin: 20px 0;
    padding: 0 20px;
    font-size: 90%;
}

#section1 .risk {
    margin-top: 20px;
    font-size: 115%;
}

/* section1エリアここまで */

/* section2エリアここから */

#section2 {
    padding: 0;
}

#section2 .image-box {
    position: relative;
}

#section2 .list {
    width: 700px;
    margin: 60px auto;
    text-align: left;
    font-size: 120%;
}

#section2 .list-item {
    margin: 20px 0;
    font-weight: bold;
}

#section2 .list i {
    color: #f90;
    font-size: 120%;
}

#section2 .comment-box {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 120%;
    background: #06f;
    color: #fff;
    font-weight: bold;
}

#section2 .sec-container {
    justify-content: center
}

#section2 .sec-item {
    width: 320px;
    padding: 0 20px;
    font-size: 90%;
}

#section2 .sec-item .h4 {
    height: 64px;
}

#section2 .sec-item p {
    margin-top: 20px;
    text-align: left;
}

/* section2エリアここまで */

/* section3エリアここから */

#section3 {
    padding: 0;
    margin-top: 60px;
}

#section3 .h2 {
    padding: 40px 0;
    font-size: 200%;
    font-weight: bold;
    background: #06f;
    color: #fff;
}

#section3 .list-box {
    width: 700px;
    margin: 10px auto 0;
}

#section3 .list i {
    color: #06f;
    font-size: 120%;
}

#section3 .list-item {
    margin: 10px 0;
    font-size: 100%;
    text-align: left;
}

#section3 .h3 {
    margin-top: 40px;
    font-size: 130%;
}

#section3 .sec-container {
    justify-content: center;
    margin-top: 40px;
}

#section3 .sec-item {
    margin: 20px;
    align-self: center;
}

#section3 .sec-container .image-box {
    width: 300px;
}

#section3 .text-box {
    width: 540px;
    margin: 0 20px;
    text-align: left;
    font-size: 100%;
    line-height: 1.5;
}

#section3 .image-group {
    display: flex;
    justify-content: center;
}

#section3 .image-group img {
    width: 250px;
    height: auto;
    margin: 40px 20px 0;
}

/* section3エリアここまで */

/* section4エリアここから */

#section4 {
    padding: 0 0 80px;
    margin-top: 80px;
}

#section4 .text-box {
    padding: 40px;
    margin-bottom: 40px;
    background: #06f;
    color: #fff;
}

#section4 .price {
    font-size: 160%;
    color: #f90;
    font-weight: bold;
    line-height: 1.3;
}

#section4 .form {
    width: 800px;
    margin: 0 auto;
}
#section4 .form p {
    margin-bottom: 10px;
}

#section4 .form-table {
    margin: 0 auto;
    text-align: left;
}

#section4 .sec-container {
    flex-direction: column;
}

#section4 .input-box {
    position: relative;
}

#section4 .input {
    width: 500px;
    height: 26px;
    margin-bottom: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #e5e5d1;
    font-size: 1rem;
    font-family: inherit;
}

#section4 .textarea {
    width: 500px;
    height: 186px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #e5e5d1;
    background: #fff;
    font-size: 1rem;
}

#section4 .btn-box {
    position: relative;
    margin-top: 10px;
}

#section4 .btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    padding: 10px 45px;
    color: #fff;
    background: #f90;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #c60;
    vertical-align: bottom;
}

#section4 .btn:hover {
    border: none;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
}

/* section4エリアここまで */

/* footerエリアここから */

.footer {
    padding: 20px;
    background: #06f;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

/* footerエリアここまで */



/* レスポンシブ化ここから */

/* max-width: 1000pxここから */

@media (max-width: 1000px) {
    body {
        font-size: 16px;
    }

    #section2 .list {
        width: 600px;
    }

    #section3 .list-box {
        width: 550px;
    }

    #section3 .sec-container {
        flex-direction: column;
    }
}

/* max-width: 1000pxここまで */

/* max-width: 800pxここから */

@media (max-width: 800px) {
    body {
        font-size: 14px;
    }

    .num {
        font-size: 100%;
        font-weight: bold;
    }

    .md-none {
        display: inline;
    }

    #section1 .h2 {
        margin-bottom: 30px;
        line-height: 1.5;
    }

    #section1 .desc-box {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #section1 .risk {
        margin-top: 10px;
        font-size: 110%;
    }

    #section1 .sec-container {
        flex-direction: column;
    }

    #section1 .sec-item {
        width: 100%;
        padding: 0 50px;
        margin-bottom: 30px;
        font-size: 100%;
        box-sizing: border-box;
    } 

    #section2 .list {
        padding: 0 50px;
        width: 100%;
        box-sizing: border-box;
    }

    #section2 .sec-container {
        flex-direction: column;
    }

    #section2 .sec-item {
        width: 100%;
        padding: 0 50px;
        margin-bottom: 30px;
        font-size: 100%;
        box-sizing: border-box;
    }

    #section3 {
        margin-top: 20px;
    }

    #section3 .list-box {
        padding: 0 50px;
        width: 100%;
        box-sizing: border-box;
    }

    #section3 .text-box {
        width: 100%;
        margin: 0;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #section3 .image-group {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }

    #section3 .image-group img {
        width: 100%;
        height: auto;
        margin: 40px 0 0;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #section4 {
        margin-top: 40px;
    }

    #section4 .form {
        width: 450px;
        padding: 0;
        box-sizing: border-box;
    }
    
    #section4 .input {
        width: 400px;
    }
    
    #section4 .textarea {
        width: 400px;
    }
    
    #section4 .btn-box {
        position: relative;
        margin-top: 10px;
    }
    
    #section4 .btn {
        font-size: 18px;
        padding: 10px 50px;
    }
}

/* max-width: 800pxここまで */

/* max-width: 500pxここから */

@media (max-width: 500px) {
    .section {
        padding: 30px;
    }

    #section1 .h2 {
        font-size: 150%;
    }

    #section1 .sec-item {
        padding: 0 30px;
    }


    #section2 .list {
        margin: 30px 0;
    }

    #section2 .comment-box {
        padding: 20px;
        box-sizing: border-box;
    }

    #section2 .sec-item {
        padding: 0 30px;
    }

    #section3 .h2 {
        font-size: 150%;
        padding: 20px 0;
    }

    #section3 .list-box {
        padding: 0 20px;
    }

    #section3 .h3 {
        margin-top: 20px;
        padding: 0 30px;
        font-size: 110%;
    }

    #section3 .sec-container {
        margin-top: 0;
    }

    #section3 .sec-container .image-box {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #section4 .text-box {
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
    }

    #section4 .form {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    #section4 .form p {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        text-align: left;
    }

    #section4 .form-table {
        width: 100%;
        margin: 0;
        padding: 0 30px;
        box-sizing: border-box;
    }
    
    #section4 .input {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
    }
    
    #section4 .textarea {
        width: 100%;
        box-sizing: border-box;
    }
    
    #section4 .btn-box {
        position: relative;
    }

    .footer {
        padding: 10px;
    }

}

/* max-width: 500pxここまで */

/* レスポンシブ化ここまで */
